
/*//////////////////////////////////////////////////////////////////
[ BOTONES ]*/

.mihr {
	  border: 0; 
	  height: 1px; 
	  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

/** Estilos Radio Button and CheckBox **/
.formulario {
	/* --------------------------------------- */
	/* ----- Radio Button */
	/* --------------------------------------- */
	/* --------------------------------------- */
	/* ----- Checkbox */
	/* --------------------------------------- */
	
}

.formulario h2 {
	font-size: 16px;
	color: #001F3F;
	margin-bottom: 20px;
	margin-left: 20px;
}

.formulario>div {
	padding: 20px 0;
	/** border-bottom: 1px solid #ccc;**/
}

.formulario .radio label, .formulario .checkbox label {
	display: inline-block;
	cursor: pointer;
	color: #001f3f;
	position: relative;
	padding: 5px 15px 5px 51px;
	font-size: 1em;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.formulario .radio label:hover, .formulario .checkbox label:hover {
	background: #00acac;
}

.formulario .radio label:before, .formulario .checkbox label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 15px;
	border-radius: 50%;
	background: none;
	border: 3px solid #001f3f;
}

.formulario input[type="radio"] {
	display: none;
}

.formulario input[type="radio"]:checked+label:before {
	display: none;
}

.formulario input[type="radio"]:checked+label {
	padding: 5px 15px;
	background: #001f3f;
	border-radius: 2px;
	color: #fff;
}

.formulario .checkbox label:before {
	border-radius: 3px;
}

.formulario .checkbox input[type="checkbox"] {
	display: none;
}

.formulario .checkbox input[type="checkbox"]:checked+label:before {
	display: none;
}

.formulario .checkbox input[type="checkbox"]:checked+label {
	background: #001f3f;
	color: #fff;
	padding: 5px 15px;
}

/**  Color boton Salir - BTN-DARK **/
.btn-dark {
	color: rgba(255, 255, 255, .5) !important;
	background-color: #0f1626 !important;
	border-color: #0f1626 !important;
}

.btn-dark:HOVER {
	color: rgba(255, 255, 255, .75) !important;
}

.btn-salir {
	display: inline-block;
	font-weight: 400;
	text-align: left;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	padding: .375rem .75rem;
	padding-left: 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	padding-left: 0;
	cursor: pointer;
}

/** ---------------------  **/
/** Formulario Iterativo **/
/** ---------------------**/

/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
