/** Estilos  Data Table**/
	
	/** Header **/
.ui-datatable .ui-datatable-header {
    padding: 4px 12px;
    background: #3c415e;
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-family:'Exo 2', sans-serif; 
    height: 40px
}

.ui-widget-header{
	/**background: #22282d;**/
	background: #272D53; 
  /**  background: -webkit-linear-gradient(to right, #4568dc, #b06ab3); 
    background: linear-gradient(to right, #4568dc, #b06ab3); **/
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Exo', sans-serif;
    font-weight: normal;
    text-shadow: none;
}

/*** Titulo de DataTable Header ***/

.ui-datatable thead th, .ui-datatable tfoot td {
    text-align: center;
    /**font-family: 'Advent Pro', sans-serif; **/
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Exo', sans-serif;
}
	/** Paginacion  **/

.ui-paginator {
    background-color: #272D53 ;
    
}

	/** Ui Widget - Texto General Tabla PrimeFaces**/
	.ui-widget {
  /**  font-family: 'Saira', sans-serif; **/
  /**  font-family: 'Jura', sans-serif; **/
    font-family: 'Quicksand', sans-serif; 
    font-size: 1.1em;
    
}

/*** Campo Editable Table****/
.ui-datatable .ui-datatable-data tr.ui-row-editing td.ui-editable-column, .ui-datatable .ui-datatable-data td.ui-cell-editing {
    padding: -20px 0px;
    background: #00acac;
}

/*** Form PrimeFaces****/
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
}
.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default {
    border: none;
    color: #fff;
    background: #1cb3c8;
    font-weight: inherit;
    font-family: 'Exo', sans-serif;
    /**font-size: 17px; **/
    height: 41px;
    
}
/** Botonos de PrimeFaces HOVER **/
button.ui-button.ui-state-default:HOVER{
	background: #1cb3c8; 
	border-color: #00acac;
}


/** Numero de paginas - Paginacion Data Table **/
.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options{
    margin-left: 0em;
    margin-right: 1em;
    background-image: none;
    
}

body .ui-state-active, body .ui-state-highlight {
    background-color: #00acac;
    color: #ffffff;
}


.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options {
    margin-left: 1em;
    margin-right: 1em;
    background-image: none;
}

/*** SelectOneMenu****/
.ui-selectonemenu .ui-selectonemenu-label {
    display: block;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    width: 100%;
    text-align: left;
} 

/**Modal de informacion de Mensajes**/
body .ui-state-active, body .ui-state-highlight {
    background-color: #21d4fd; /**#00acac;**/
    color: #ffffff;
    
} 

.ui-fluid .ui-selectonemenu .ui-selectonemenu-trigger {
    width: 32px;
    padding: 0 6px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    width: 16px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;
}


  
   
/***********************/

.ui-datatable tbody td {
	border-color: inherit;
}
	

.ui-datatable-odd{  /*Colores fila*/
	background: #e1e8f0; /*#c9c9c9;*/
}



/*Cuadro de confirmacion Editar e Eliminar*/
.ui-growl {
    position: fixed;
    top: 70px;
    right: 20px;
    width: 301px;
    
}
.ui-widget-header{
	/**Efecto degradado**/
	/** background: #c4c4c4 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)); **/
}

/** Calendario **/
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
    background: #22282d;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
    background: #2d353c;

}
	