<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      lang="en"> 

<h:head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png"/>
  <link rel="icon" type="image/png" href="../assets/img/favicon.png"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title><ui:insert name="pageTitle">Travel Express</ui:insert></title>
  
    <!-- PrimeFaces core JavaScript -->
   	<h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
	<h:outputScript library="primefaces" name="jquery/jquery-plugins.js" target="head" /> 
    
   <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
 
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"></link>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"></link>
 
  <!-- CSS Files  --> 
  <h:outputStylesheet library="css" name="material-dashboard.css"/>
  <h:outputStylesheet library="css" name="demo.css"/>
  <h:outputStylesheet library="css" name="bootstrap.min.css"/> 
  
</h:head> 
<h:body>
	  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="#" class="simple-text logo-normal">
          Alquiler de Autos
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="public/login.xhtml">
              <i class="material-icons">input</i>
              <p>Iniciar Sesión</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./autosList.xhtml">
              <i class="material-icons">directions_car</i>
              <p>Autos</p>
            </a>
          </li>         
        </ul>
      </div>
       </div>
     <!-- Page Content -->
     
   	<div class="main-panel">   
	   	<ui:insert name="contenido">
	   		<span>Pagina en construccion</span>
	   	</ui:insert>
   	</div>
     
    
  </div>  
  <script src="resources/js/demo.js"></script> 
  <script src="resources/js/jquery.min.js"></script> 
  <script src="resources/js/popper.min.js"></script> 
  <script src="resources/js/bootstrap-material-design.min.js"></script> 
  <script src="resources/js/perfect-scrollbar.jquery.min.js"></script> 
</h:body> 
</html>
