<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" lang="en">

	<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
	<ui:composition template="/WEB-INF/templates/template.xhtml">
			<ui:define name="pageTitle">Actualizar Auto</ui:define>
			<ui:define name="pageHeader">Header</ui:define>
			<ui:define name="contenido">
			<f:metadata>
			<f:viewParam name="id"
				value="#{bean_auto.codigoActualizarAuto}"></f:viewParam>
			</f:metadata>

		      <!-- Navbar -->
		      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
		        <div class="container-fluid">
		          <div class="navbar-wrapper">
		            <a class="navbar-brand" href="#pablo">Actualización Auto</a>
		          </div>
		          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		          </button>
		          
		        </div>
		      </nav>
		      <!-- End Navbar -->
		       <div class="content">
		        <div class="container-fluid">
		          <div class="row">
		            <div class="col-md-8">
		              <div class="card">
		                <div class="card-header card-header-primary">
		                  <h4 class="card-title">Actualización Auto</h4>
		                  <p class="card-category"></p>
		                </div>
		                <div class="card-body">               
		                   <h:form enctype="multipart/form-data" id="formAuto" >
		                   		<p:growl id="msgs" showDetail="true" life="2000"/>	
								Ingreso modelo:
								<h:inputText value="#{bean_auto.newAuto.modelo}" styleClass="form-control" required="true" requiredMessage="Agregar modelo">
								</h:inputText>
								<br>
								</br> 
								<div class="row">
									<div class="col-md-6">
										Ingreso placa:
										<h:inputText value="#{bean_auto.newAuto.placa}" styleClass="form-control" required="true" requiredMessage="Agregar Placa">
										</h:inputText>
									</div>
									<div class="col-md-6">
										Ingreso número de asientos:
										<h:inputText value="#{bean_auto.newAuto.numero_asientos}" styleClass="form-control" required="true" requiredMessage="Agregar numero de asientos">
										</h:inputText>
									</div>
								</div>
								
								<br/>
								<div class="row">
									<div class="col-md-8">
										Seleccionar nueva Imagen:
										<h:panelGrid columns="1">
											<o:inputFile id="fileDet" value="#{bean_auto.file}"
												styleClass="form-control-file" accept="image/*"
												acceptMessage="Wrong file type! Should match {2}"
												maxsize="#{512 * 1024}"
												maxsizeMessage="El archivo seleccionado excede el tamaño! No puede ser mas de {2}">
											</o:inputFile>	
											<h:message id="file_mDet" for="fileDet"
												style="color: #ef1e6b;" /> 
										</h:panelGrid> 
									</div>									
									<div class="col-md-4">
										Precio de Renta por Día:
										<h:inputText value="#{bean_auto.newAuto.precio}" styleClass="form-control" required="true" requiredMessage="Agregar Precio">
										</h:inputText>
									</div>
								</div>
								<br/>
								<div class="row">
									<div class="col-md-3"></div>
									<div class="col-md-6">
							 			<img src="../../TravelExpress/Imagen?ID=#{bean_auto.codigoActualizarAuto}"  class="card-img" alt="IMG-AUTO" width="200" height="230"/>
							 		</div>
							 		<div class="col-md-3"></div>
								</div>								
								<br/>
								<div class="row">
									<div class="col-md-3"></div>
									<div class="col-md-3">
										<h:commandButton value="Guardar" action="#{bean_auto.guardar()}" update=":formAuto:msgs" styleClass="btn btn-primary btn-block">
										</h:commandButton>
									</div>	
									<div class="col-md-3">
										<h:commandButton action="#{bean_auto.cancelarActualizacion()}" value="Cancelar" styleClass="btn btn-danger btn-block" />
									</div>		
									<div class="col-md-3"></div>						
								</div>							
							</h:form>                   
		                </div>
		              </div>
		            </div> 	  
		          </div>
		        </div>
		      </div>
			</ui:define>
	</ui:composition>
</html>