<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" lang="en">

	<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
	<ui:composition template="/WEB-INF/templates/template.xhtml">
			<ui:define name="pageTitle">Registro Autos</ui:define>
			<ui:define name="pageHeader">Header</ui:define>
			<ui:define name="contenido">

		      <!-- Navbar -->
		      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
		        <div class="container-fluid">
		          <div class="navbar-wrapper">
		            <a class="navbar-brand" href="#pablo">Registro Auto</a>
		          </div>
		          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		          </button>
		          
		        </div>
		      </nav>
		      <!-- End Navbar -->
		       <div class="content">
		        <div class="container-fluid">
		          <div class="row">
		            <div class="col-md-8">
		              <div class="card">
		                <div class="card-header card-header-primary">
		                  <h4 class="card-title">Registrarse</h4>
		                  <p class="card-category">Complete sus datos</p>
		                </div>
		                <div class="card-body">               
		                   <h:form enctype="multipart/form-data" id="formAuto" >
		                   		<p:growl id="msgs" showDetail="true" life="2000"/>	
								Ingreso modelo:
								<h:inputText value="#{bean_auto.newAuto.modelo}" styleClass="form-control" required="true" requiredMessage="Agregar modelo">
								</h:inputText>
								<br>
								</br> 
								<div class="row">
									<div class="col-md-6">
										Ingreso placa:
										<h:inputText value="#{bean_auto.newAuto.placa}" styleClass="form-control" required="true" requiredMessage="Agregar Placa">
										</h:inputText>
									</div>
									<div class="col-md-6">
										Ingreso número de asientos:
										<h:inputText value="#{bean_auto.newAuto.numero_asientos}" styleClass="form-control" required="true" requiredMessage="Agregar numero de asientos">
										</h:inputText>
									</div>
								</div>
								<br/>
								<div class="row">
									<div class="col-md-8">
										Seleccionar Imagen:
										<h:panelGrid columns="1">
											<o:inputFile id="fileDet" value="#{bean_auto.file}"
												styleClass="form-control-file" accept="image/*"
												acceptMessage="Wrong file type! Should match {2}"
												maxsize="#{512 * 1024}"
												required="true" requiredMessage="Por favor seleccione una imagen"
												maxsizeMessage="El archivo seleccionado excede el tamaño! No puede ser mas de {2}">
											</o:inputFile>	
											<h:message id="file_mDet" for="fileDet"
												style="color: #ef1e6b;" /> 
										</h:panelGrid> 
									</div>
									<div class="col-md-4">
										Precio de Renta por Día:
										<h:inputText value="#{bean_auto.newAuto.precio}" styleClass="form-control" required="true" requiredMessage="Agregar Placa">
										</h:inputText>
									</div>
								</div>								
								<br/>
								<div class="row">
									<div class="col-md-4">
										<h:commandButton value="Guardar" action="#{bean_auto.guardar()}" update=":formAuto:msgs" styleClass="btn btn-primary btn-block">
										</h:commandButton>
									</div>
									<div class="col-md-4">
										<p:commandButton value="Listar" type="button" onclick="PF('listaUsuariosDialog').show(); #{bean_auto.ListarAutos()}" styleClass="btn btn-primary btn-block">
										</p:commandButton>
									</div>
									<div class="col-md-4">
										<p:commandButton type="reset" value="Limpiar" styleClass="btn btn-primary btn-block" />
									</div>								
								</div>							
							</h:form>  
							<p:dialog header="Listado de Autos" id="preDialog" widgetVar="listaUsuariosDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="800" height="400">
								<div id="contentTable">
									<div class="form-group row">
									    <div class="form-group col-md-12" >				     
									    <h:form id="formA" enctype="multipart/form-data">		
									    	<p:growl id="msgs" showDetail="true" life="2000"/>													
											<p:dataTable id="tblCliente"
												var="usr" 
												value="#{bean_auto.auto}" 
												widgetVar="tblPreguntas"	
												editable="true"											
												rows="5"
						                        paginator="true"
						                        paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						                        rowsPerPageTemplate="5,10,15"
						                        emptyMessage="Dato no encontrado"
												style="margin-bottom:0">
												
										        <f:facet name="header">
										            Autos
										        </f:facet>
										        <p:ajax event="rowEdit" listener="#{bean_auto.onRowEdit}" update=":formA:msgs"  />
										        <p:ajax event="rowEditCancel" listener="#{bean_auto.onRowCancel}" update=":formA:msgs"  />
									 		
										 	    <p:column style="width:32px">
											           <p:rowEditor  />
											    </p:column>
										        				        
										        <p:column headerText="Modelo">
										        	<p:cellEditor>
										        		<f:facet name="output"><h:outputText value="#{usr.modelo}" /></f:facet>
										        		<f:facet name="input"><h:inputText value="#{usr.modelo}" style="width:100%;" /></f:facet>
										        	</p:cellEditor>		            
										        </p:column>
										        						        
										        <p:column headerText="Placa">
										        	<p:cellEditor>
										        		<f:facet name="output"><h:outputText value="#{usr.placa}" /></f:facet>
										        		<f:facet name="input"><h:inputText value="#{usr.placa}" style="width:100%;" /></f:facet>
										        	</p:cellEditor>		            
										        </p:column>
										        
										        <p:column headerText="# Asientos">
										        	<p:cellEditor>
										        		<f:facet name="output"><h:outputText value="#{usr.numero_asientos}" /></f:facet>
										        		<f:facet name="input"><h:inputText value="#{usr.numero_asientos}" style="width:100%;" /></f:facet>
										        	</p:cellEditor>		            
										        </p:column>
										        		
												<p:column style="width:32px">
											       <p:commandLink actionListener="#{bean_auto.eliminar(usr.codigo)}" update="tblCliente" title="Eliminar Clientes">
												        <p:confirm header="Confirmación" message="Esta seguro de eliminar?" icon="ui-icon-alert" />
												        <h:graphicImage value="/resources/img/remove.ico" />	
												        <f:ajax render=":form:tblCliente" execute=":form:tblCliente"/>
												   </p:commandLink>
										       </p:column>
										       
										        <f:facet name="footer">		
										        	<p:commandButton value="Salir" icon="ui-icon-close" immediate="true" onclick="PF('listaUsuariosDialog').hide();"/>				          
										        </f:facet>
										    </p:dataTable>
										    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
										        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
										        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
									  		 </p:confirmDialog>					    
									    </h:form>	
									    </div>
								    </div>		    
							    </div>	
					    	</p:dialog>	                 
		                </div>
		              </div>
		            </div> 	  
		          </div>
		        </div>
		      </div>
			</ui:define>
	</ui:composition>
</html>