<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" lang="en">

	<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
	<ui:composition template="/WEB-INF/templates/template.xhtml">
			<ui:define name="pageTitle">Chofer</ui:define>
			<ui:define name="pageHeader">Header</ui:define>
			<ui:define name="contenido">

		      <!-- Navbar -->
		      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
		        <div class="container-fluid">
		          <div class="navbar-wrapper">
		            <a class="navbar-brand" href="#pablo">Registro Chofer</a>
		          </div>
		          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		          </button>
		          
		        </div>
		      </nav>
		      <!-- End Navbar -->
		       <div class="content">
		        <div class="container-fluid">
		          <div class="row">
		            <div class="col-md-8">
		              <div class="card">
		                <div class="card-header card-header-primary">
		                  <h4 class="card-title">Registrarse</h4>
		                  <p class="card-category">Complete sus datos</p>
		                </div>
		                <div class="card-body"> 
		                	<script>
		                	function validaNumericos(event) {
		                	    if(event.charCode >= 48 &amp;&amp; event.charCode &lt;= 57){
		                	      return true;
		                	     }
		                	     return false;        
		                	}
		                	</script>
		                	<!--  <p:growl id="msgs" showDetail="true" life="2000">
	                   		</p:growl>	 -->
	                   		<p:messages id="messages" showDetail="true" closable="true" >				        	
					    	</p:messages>	              
		                   <h:form id="formChofer">               		
								Ingreso nombre:
								<h:inputText value="#{choferBean.newPersona.nombres}" styleClass="form-control" required="true" requiredMessage="agregar nombre">
								</h:inputText>
								<br>
								</br> 
								Ingreso apellido:
								<h:inputText value="#{choferBean.newPersona.apellidos}" styleClass="form-control" required="true" requiredMessage="agregar agregar apellido">
								</h:inputText>
								<br>
								</br> 
								Ingreso telefono:
								<h:inputText onkeypress="return validaNumericos(event)" value="#{choferBean.newPersona.telefono}" styleClass="form-control" required="true" requiredMessage="agregar telefono">
								</h:inputText>				
								<br>
								</br>
								<div id="grid" style="margin-bottom:10px">					        
						 		<div class="row">
									<div class="col-md-8">
										Ingreso cédula:
										<h:inputText onkeypress="return validaNumericos(event)" id="cedula" value="#{choferBean.cedula}" styleClass="form-control" required="true" requiredMessage="Agregar cedula" >
										</h:inputText>							
									</div>
									<div class="col-md-4">
										<p:commandButton id="btncedula" ajax="false" action="#{choferBean.validaCedula()}" value="Validar Cédula" styleClass="btn btn-primary btn-block">
										</p:commandButton>									
									</div>
								</div>						        
						    </div>
						    <br/>
								<div class="row">
									<div class="col-md-6">
										<h:commandButton value="Guardar" action="#{choferBean.guardar()}" styleClass="btn btn-primary btn-block">
										</h:commandButton>
									</div>
									
									<div class="col-md-6">
										<p:commandButton value="Listar" type="button" onclick="PF('listaUsuariosDialog').show(); #{choferBean.ListarChoferes()}"  styleClass="btn btn-primary btn-block"/>
									</div>					
								</div>
							</h:form>   
							<p:dialog header="Listado de Choferes" id="preDialog" widgetVar="listaUsuariosDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="800" height="400">
								<div id="contentTable">
									<div class="form-group row">
									    <div class="form-group col-md-12" >				     
									    <h:form id="formD">		
									    	<p:messages id="ms2" showDetail="true" closable="true" >
										        <p:autoUpdate />
										    </p:messages>													
											<p:dataTable id="tblCliente"
												var="usr" 
												value="#{choferBean.chofer}" 
												widgetVar="tblPreguntas"	
												editable="true"											
												rows="5"
						                        paginator="true"
						                        paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						                        rowsPerPageTemplate="5,10,15"
						                        emptyMessage="Dato no encontrado"
												style="margin-bottom:0">
												
										        <f:facet name="header">
										            Choferes
										        </f:facet>
										        <p:ajax event="rowEdit" listener="#{choferBean.onRowEdit}" update="formD:ms2"  />
										        <p:ajax event="rowEditCancel" listener="#{choferBean.onRowCancel}" update="formD:ms2"  />
									 		
										 	    <p:column style="width:32px">
											           <p:rowEditor  />
											    </p:column>
										        				        
										        <p:column headerText="Nombre">
										        	<p:cellEditor>
										        		<f:facet name="output"><h:outputText value="#{usr.nombres}" /></f:facet>
										        		<f:facet name="input"><h:inputText value="#{usr.nombres}" style="width:100%;" /></f:facet>
										        	</p:cellEditor>		            
										        </p:column>
										        						        
										        <p:column headerText="Apellido">
										        	<p:cellEditor>
										        		<f:facet name="output"><h:outputText value="#{usr.apellidos}" /></f:facet>
										        		<f:facet name="input"><h:inputText value="#{usr.apellidos}" style="width:100%;" /></f:facet>
										        	</p:cellEditor>		            
										        </p:column>
										        
										        <p:column headerText="Cédula">
										        	<p:cellEditor>
										        		<f:facet name="output"><h:outputText value="#{usr.cedula}" /></f:facet>
										        		<f:facet name="input"><h:inputText value="#{usr.cedula}" style="width:100%;" /></f:facet>
										        	</p:cellEditor>		            
										        </p:column>
										        
										        <p:column headerText="Telefono">
										        	<p:cellEditor>
										        		<f:facet name="output"><h:outputText value="#{usr.telefono}" /></f:facet>
										        		<f:facet name="input"><h:inputText value="#{usr.telefono}" style="width:100%;" /></f:facet>
										        	</p:cellEditor>		            
										        </p:column>
				
												
												<p:column style="width:32px">
											       <p:commandLink actionListener="#{choferBean.eliminar(usr.codigo)}" update="tblCliente" title="Eliminar Clientes">
												        <p:confirm header="Confirmación" message="Esta seguro de eliminar?" icon="ui-icon-alert" />
												        <h:graphicImage value="/resources/img/remove.ico" />	
												        <f:ajax render=":form:tblCliente" execute=":form:tblCliente"/>
												   </p:commandLink>
										       </p:column>
										       
										        <f:facet name="footer">		
										        	<p:commandButton value="Salir" icon="ui-icon-close" immediate="true" onclick="PF('listaUsuariosDialog').hide();"/>				          
										        </f:facet>
										    </p:dataTable>
										    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
										        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
										        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
									  		 </p:confirmDialog>
									    </h:form>	
									    </div>
								    </div>		    
							    </div>	
					    	</p:dialog>	          
		                </div>
		              </div>
		            </div>           
		          </div>
		        </div>
		      </div>			
			</ui:define>
	</ui:composition>
</html>