<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" lang="en">

	<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
	<ui:composition template="/WEB-INF/templates/templateUsuario.xhtml">
			<ui:define name="pageTitle">Confirmar Renta</ui:define>
			<ui:define name="pageHeader">Header</ui:define>
			<ui:define name="contenido">
		      <!-- Navbar -->
		      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
		        <div class="container-fluid">
		          <div class="navbar-wrapper">
		            <a class="navbar-brand" href="#pablo">Travel Express</a>
		          </div>
		          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		          </button>
		          
		        </div>
		      </nav>
		      <!-- End Navbar -->
		       <div class="content">
		        <div class="container-fluid">
		          <div class="row">
		            <div class="col-md-8">
		              <div class="card">
		                <div class="card-header card-header-primary">
		                  <h4 class="card-title">Evento Express</h4>
		                  <p class="card-category"></p>
		                </div>
		                <div class="card-body">            
		                   <h:form id="formRenta" styleClass="formulario">
		                   		<p:growl id="msgs" showDetail="true"/>	
								     <div class="row">
								 		<div class="col-md-6">
								 			<img src="../../TravelExpress/Imagen?ID=#{sesion.auto.codigo}"  class="card-img" alt="IMG-AUTO" width="200" height="230"/>
								 		</div>		
								 			<hr />				 		
								 		<div class="col-md-6">							 			
								 			<p:outputLabel style="font-family: 'Poppins', sans-serif; font-weight: 700; color:#000; font-size: 17px;">#{sesion.auto.modelo}</p:outputLabel>
								 			<p style="font-family: 'Poppins', sans-serif; font-weight: 500; color: #1cb3c8">Datos del Conductor</p>
								 			<p style="font-family: 'Poppins', sans-serif; font-weight: 400; color: #3c415e"><span style="font-family: 'Poppins', sans-serif; font-weight: 400; color:#3c415e;">Nombre:</span>  #{sesion.chofer.nombres} #{sesion.chofer.apellidos}</p>
								 			<p style="font-family: 'Poppins', sans-serif; font-weight: 400; color: #3c415e"><span style="font-family: 'Poppins', sans-serif; font-weight: 400; color:#3c415e;">Teléfono:</span>  #{sesion.chofer.telefono}</p>
								 		</div>								 		
								 	</div>	
								     
								     
								    <center><h4 style="font-family: 'Poppins', sans-serif; font-weight: 500 ">Datos del Cliente</h4></center>
								    <div class="row">
								    	<div class="col-md-3">
								    											
								    	</div>
								    	
								    	<div class="col-md-6">
								    		Nombre
								    		<h:inputText value="#{bean_login.usuario.nombres}" styleClass="form-control" readonly="true"/>	
								    		
								    		Apellido
								    		<h:inputText value="#{bean_login.usuario.apellidos}" styleClass="form-control" readonly="true"/>
								    		
								    		Email <span style="color: #1cb3c8; font-weight: 700;">*</span>
								    		<h:inputText value="#{bean_login.usuario.email}" styleClass="form-control" readonly="true" data-toggle="tooltip" data-placement="right" title="Para poder enviarle su reserva">
								    		
								    		</h:inputText>	
								    		
								    		Dirección 
								    		<h:inputText value="#{bean_login.usuario.direcion}" styleClass="form-control" readonly="true"/>										
								    	</div>
								    	
								    	<div class="col-md-3">
								    											
								    	</div>

								    </div>	
								    <div class="row">
								    	<div class="col-md-3">
								    		<!--  <h:commandButton action="dd" value="Reservar" styleClass="btn btn-primary btn-block" />	-->
								    		<p:commandButton value="Reservar" styleClass="btn btn-primary btn-block" action="reservaEvento?faces-redirect=true"></p:commandButton>
								    	</div>
								    	<div class="col-md-3"></div>
								    	<div class="col-md-3"></div>
								    	<div class="col-md-3"></div>
								    </div>		
							</h:form>  						                 
		                </div>
		              </div>
		            </div> 	  
		          </div>
		        </div>
		      </div>
			</ui:define>
	</ui:composition>
</html>