<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head></h:head> 
<h:body> 
	<p:inputText id="txtPass" value="#{bean_lugar.demo}"></p:inputText>	
	<p:commandButton value="reset"  update="txtPrime"/>
	
	<p:outputLabel id="txtPrime" value="#{bean_lugar.demo}" />
	
	
	<br/>
	<br/>
	<h:inputText value="#{bean_lugar.demo}" id="textIn"/>
	<h:commandButton value="Refrescar">
		<f:ajax execute="txtIn" render="txtOut"/>
	</h:commandButton>
	
	<h:outputLabel value="#{bean_lugar.demo}" id="txtOut" />
	
</h:body> 
</html>
