<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" lang="en">

	<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
	<ui:composition template="/WEB-INF/templates/templateUsuario.xhtml">
			<ui:define name="pageTitle">Evento</ui:define>
			<ui:define name="pageHeader">Header</ui:define>
			<ui:define name="contenido">

		      <!-- Navbar -->
		      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
		        <div class="container-fluid">
		          <div class="navbar-wrapper">
		            <a class="navbar-brand" href="#pablo">Travel Express</a>
		          </div>
		          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		          </button>
		          
		        </div>
		      </nav>
		      <!-- End Navbar -->
		       <div class="content">
		        <div class="container-fluid">
		          <div class="row">
		            <div class="col-md-8">
		              <div class="card">
		                <div class="card-header card-header-primary">
		                  <h4 class="card-title">Evento Express</h4>
		                  <p class="card-category"></p>
		                </div>
		                <div class="card-body">            
		                   <h:form id="formRenta" styleClass="formulario">
		                   		<p:growl id="msgs" showDetail="true"/>	
								     <p>Alquiler de vehiculo con chofer por 8 horas, para salir a un evento o fiesta.</p>
								     <p:dataGrid var="car" value="#{bean_auto.auto}" columns="2" layout="grid"
								        rows="12" paginator="true" id="cars"
								        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								        rowsPerPageTemplate="6,12,16"
								        rowIndexVar="#{car.codigo}">
								         
								        <f:facet name="header">
								            Nuestros Autos
								        </f:facet>
								 
								        <p:panel header="#{car.modelo}" style="text-align:center">
							        		<h:panelGrid columns="1" style="width:100%" >
								                <p:graphicImage  url="../../TravelExpress/Imagen?ID=#{car.codigo}" height="230" width="200" styleClass="card-img"/> 								 	 
								                <!--  <h:outputLabel value="US $: " style="font-family: 'Poppins', sans-serif; font-weight: 400; color:#000; font-size: 16px;"> <span><h:outputText value="#{car.precio}"></h:outputText></span></h:outputLabel>	-->				       
							            		<h:selectBooleanCheckbox value="#{bean_auto.selectedIds[car.codigo]}"/>		            		            	
							            	</h:panelGrid>  								            				        								            
								        </p:panel>
								    </p:dataGrid>
								    
								    <div class="row">
								    	<div class="col-md-3">
								    		Fecha
											<p:calendar id="mask" value="#{bean_auto.fechaRenta}" pattern="dd-MM-yyyy" mask="true" required="true" requiredMessage="Agregar fecha"/>
								    	</div>
								    	<div class="col-md-3">
								    		Hora
											<h:selectOneMenu value="#{bean_renta.lhr}" styleClass="custom-select" required="true" requiredMessage="Seleccione la hora de viaje">
												<f:ajax execute="@this" listener="#{bean_renta.seleccionarHora()}" />
												<f:selectItems value="#{bean_renta.listaHoraRenta}" />
											</h:selectOneMenu>
								    	</div> 
								    	<div class="col-md-3">
								    		Minuto
											<h:selectOneMenu value="#{bean_renta.lmr}" styleClass="custom-select" required="true" requiredMessage="Seleccione la hora de viaje">
												<f:ajax execute="@this" listener="#{bean_renta.seleccionarHora()}" />
												<f:selectItems value="#{bean_renta.listaMinutosRenta}" />
											</h:selectOneMenu>
								    	</div> 
								    </div>	
								    <div class="row">
								    	<div class="col-md-3">								    		
								    		<p:commandButton value="Continuar" styleClass="btn btn-primary btn-block" action="#{bean_auto.obtieneSelectedItemsAutoEvento()}"></p:commandButton>
								    	</div>
								    	<div class="col-md-3"></div>
								    	<div class="col-md-3"></div>
								    	<div class="col-md-3"></div>
								    </div>		
							</h:form> 						 						                 
		                </div>
		              </div>
		            </div> 	  
		          </div>
		        </div>
		      </div>
			</ui:define>
	</ui:composition>
</html>