<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://java.sun.com/jsf/html" lang="en">

	<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
	<ui:composition template="/WEB-INF/templates/templateUsuario.xhtml">
			<ui:define name="pageTitle">Cliente</ui:define>
			<ui:define name="pageHeader">Header</ui:define>
			<ui:define name="contenido">
			 <!-- Navbar -->
		      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
		        <div class="container-fluid">
		          <div class="navbar-wrapper">
		            <a class="navbar-brand" href="#pablo">Registro Usuario</a>
		          </div>
		          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		          </button>         
		        </div>
		      </nav>
		      <!-- End Navbar -->
		      <div class="content">
		        <div class="container-fluid">
		          <div class="row">
		            <div class="col-md-8">
		              <div class="card">
		                <div class="card-header card-header-primary">
		                
		                
		                  <h4 class="card-title">Registrarse</h4>
		                  <p class="card-category">Complete sus datos</p>
		                </div>
		                <div class="card-body">
		                <script type="text/javascript">
		                	function validaNumericos(event) {
		                	    if(event.charCode >= 48 &amp;&amp; event.charCode &lt;= 57){
		                	      return true;
		                	     }
		                	     return false;        
		                	}

		                	function habilitar() {
		                        document.getElementById('form:btnGuardar').disabled = false;
		              		}

							//Desabilitar Boton guardar
		                	function activarBotonGuardar() {
		                	   var cedula = document.getElementById('form:cedula');
		                	   var btnGuardar = document.getElementById('form:btnGuardar');

		                	   if(cedula.value == " "){
									btnGuardar.disabled=true;
			                	   }else{
									btnGuardar.disables=false;
				                	   }
		                	}
		                	console.log('hola mundo');
		                	

		                			              		
		                	</script>
		               <p:messages id="messages" showDetail="true" closable="true" >
					    </p:messages>		          
		               	<h:form id="form">
							 <!--  <p:messages id="messages" showDetail="true" closable="true">
						      	<p:autoUpdate />  
						    </p:messages>
						    <p:tooltip />	 -->				    					  	 
		               		Ingrese nombre de usuario:
							<h:inputText id="user" value="#{bean_cliente.newCliente.usuario}" styleClass="form-control" required="true" requiredMessage="Nombre de usuario requerido">
							</h:inputText>
							<br/>
							<br/> 						    					
							<div class="row">
								<div class="col-md-6">
									Ingrese nombres:
									<h:inputText id="nombre" value="#{bean_cliente.newCliente.nombres}" styleClass="form-control" required="true" requiredMessage="Ingrese sus nombres">
									</h:inputText>
									<br/>
								</div>
								<div class="col-md-6">
									Ingrese apellidos:
									<h:inputText id="apellido" value="#{bean_cliente.newCliente.apellidos}" styleClass="form-control" required="true" requiredMessage="Ingrese sus apellidos">
									</h:inputText>
									<br/>
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-md-6">
									Ingrese su contraseña:
									<h:inputSecret id="clave" value="#{bean_cliente.password}" styleClass="form-control" required="true" requiredMessage="Ingrese contraseña">
										<f:ajax render="mensaje-password" listener="#{bean_cliente.validarPassword}"/>
									</h:inputSecret>
									<h:outputText id="mensaje-password" style="color:#ef1e6b;" value="#{bean_cliente.mensajeErrorPassword}"/>
								</div>
								<div class="col-md-6">
									Ingreso dirección:
									<h:inputText id="direccion" value="#{bean_cliente.newCliente.direcion}" styleClass="form-control" required="true" requiredMessage="Ingrese su direccion" >	
									</h:inputText>
								</div>
							</div>						
							<br>
							</br>
							<div id="grid" style="margin-bottom:10px">					        
						 		<div class="row">
									<div class="col-md-8">
										Ingreso cédula:
										<h:inputText onkeypress="return validaNumericos(event)" id="cedula" value="#{bean_cliente.cedula}" styleClass="form-control" required="true" requiredMessage="Agregar cedula">
										</h:inputText>							
									</div>
									<!--  <input type="text" placeholder="party" disabled="disabled" id="party"/>
									<h:inputText a:placeholder="hola" disabled="true" id="party"/> 
									<h:commandButton value="activar"  type="button" onclick="habilitar()"/> -->
									<div class="col-md-4">
										<p:commandButton id="btncedula" update="messages" action="#{bean_cliente.validaCedula()}" value="Validar Cédula" styleClass="btn btn-primary btn-block">
										</p:commandButton>									
									</div>
								</div>						        
						    </div>	
						    <br/>						
							<div class="row">
								<div class="col-md-4">
									<h:commandButton id="btnGuardar" value="Guardar" action="#{bean_cliente.guardarCliente()}" styleClass="btn btn-primary btn-block" >
									</h:commandButton>
								</div>
								
								<div class="col-md-4">
									<!--  <h:commandButton value="Listar" action="{clienteBean.Listar()}" styleClass="btn btn-primary btn-block" />-->
									<p:commandButton  value="Listar" type="button" actionListener="#{bean_cliente.ListarClientes()}" onclick="PF('listaUsuariosDialog').show(); #{bean_cliente.ListarClientes()}" styleClass="btn btn-primary btn-block"/>
								</div>	
								<div class="col-md-4">
									<h:commandButton type="reset" value="Limpiar" styleClass="btn btn-primary btn-block" />
								</div>				
							</div>														
						</h:form>	
														
							<p:dialog header="Listado de Clientes" id="preDialog" widgetVar="listaUsuariosDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="800" height="400">					
								<div class="form-group row">
								    <div class="form-group col-md-12" >			    		     
								    <h:form id="formD">	
								    <p:messages id="ms" showDetail="true" closable="true" >
								    	<p:autoUpdate />
								    </p:messages>								    	    											
										<p:dataTable id="tblCliente"
											var="usr" 
											value="#{bean_cliente.cliente}" 
											widgetVar="tblPreguntas"	
											editable="true"											
											rows="5"
					                        paginator="true"
					                        paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					                        rowsPerPageTemplate="5,10,15"
					                        emptyMessage="Dato no encontrado"
											style="margin-bottom:0">
											
									        <f:facet name="header">
									            Clientes
									        </f:facet>
									        <p:ajax event="rowEdit" listener="#{bean_cliente.onRowEdit}" update="formD:ms"/>
									        <p:ajax event="rowEditCancel" listener="#{bean_cliente.onRowCancel}" update="formD:ms"/>
								 		
									 	    <p:column style="width:32px">
										           <p:rowEditor  />
										    </p:column>
										    
										    <p:column headerText="Usuario">
									        	<p:cellEditor>
									        		<f:facet name="output"><h:outputText value="#{usr.usuario}" /></f:facet>
									        		<f:facet name="input"><h:inputText value="#{usr.usuario}" style="width:100%;" /></f:facet>
									        	</p:cellEditor>		            
									        </p:column>
									        				        
									        <p:column headerText="Nombre">
									        	<p:cellEditor>
									        		<f:facet name="output"><h:outputText value="#{usr.nombres}" /></f:facet>
									        		<f:facet name="input"><h:inputText value="#{usr.nombres}" style="width:100%;" /></f:facet>
									        	</p:cellEditor>		            
									        </p:column>
									        						        
									        <p:column headerText="Apellido">
									        	<p:cellEditor>
									        		<f:facet name="output"><h:outputText value="#{usr.apellidos}" /></f:facet>
									        		<f:facet name="input"><h:inputText value="#{usr.apellidos}" style="width:100%;" /></f:facet>
									        	</p:cellEditor>		            
									        </p:column>
									        
									        <p:column headerText="Cédula">
									        	<p:cellEditor>
									        		<f:facet name="output"><h:outputText value="#{usr.cedula}" /></f:facet>
									        		<f:facet name="input"><h:inputText value="#{usr.cedula}" style="width:100%;" /></f:facet>
									        	</p:cellEditor>		            
									        </p:column>
									        
									        <p:column headerText="Dirección">
									        	<p:cellEditor>
									        		<f:facet name="output"><h:outputText value="#{usr.direcion}" /></f:facet>
									        		<f:facet name="input"><h:inputText value="#{usr.direcion}" style="width:100%;" /></f:facet>
									        	</p:cellEditor>		            
									        </p:column>
			
											
											<p:column style="width:32px">
										       <p:commandLink actionListener="#{bean_cliente.Eliminar(usr.codigo)}" update="tblCliente" title="Eliminar Clientes">
											        <p:confirm header="Confirmación" message="Esta seguro de eliminar?" icon="ui-icon-alert" />
											        <h:graphicImage value="/resources/img/remove.ico" />	
											        <f:ajax render=":form:tblCliente" execute=":form:tblCliente"/>
											   </p:commandLink>
									       </p:column>
									       
									        <f:facet name="footer">		
									        	<p:commandButton value="Salir" icon="ui-icon-close" immediate="true" onclick="PF('listaUsuariosDialog').hide();"/>				          
									        </f:facet>
									    </p:dataTable>
									    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
									        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
									        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
								  		 </p:confirmDialog>
								    </h:form>	
								    </div>
							    </div>		    			    	
						    </p:dialog>						                
		                </div>
		              </div>
		            </div>      
		          </div>
		        </div>
		      </div>
			</ui:define>
	</ui:composition>
</html>