<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
	<ui:composition template="/WEB-INF/templates/templatePublic.xhtml">
			<ui:define name="pageTitle">Inicio</ui:define>
			<ui:define name="pageHeader">Header</ui:define>
			<ui:define name="contenido">
			
			  <div class="mb-2"></div>	
			  <div class="content">
			  	<div class="container-fluid">
			  		<div class="row">
				      	<div class="col-md-12">
				      		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
							  <ol class="carousel-indicators">
							    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
							    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
							    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
							  </ol>
							  <div class="carousel-inner">
							    <div class="carousel-item active">
							      <h:graphicImage value="/public/"  name="slider-1.jpg" library="img" styleClass="d-block w-100"/>
							    </div>
							    <div class="carousel-item">
							      <h:graphicImage value="/public/"  name="slider-2.jpg" library="img" styleClass="d-block w-100"/>
							    </div>
							    <div class="carousel-item">
							      <h:graphicImage value="/public/"  name="slider-3.jpg" library="img" styleClass="d-block w-100"/>
							    </div>
							  </div>
							  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
							    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
							    <span class="sr-only">Previous</span>
							  </a>
							  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
							    <span class="carousel-control-next-icon" aria-hidden="true"></span>
							    <span class="sr-only">Next</span>
							  </a>
							</div>
				      	</div>
		      		</div>			  				  	
			  	</div>  
			  </div>		
		      	         
			</ui:define>
	</ui:composition>

</html>