<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" lang="en">

	<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
	<ui:composition template="/WEB-INF/templates/template.xhtml">
			<ui:define name="pageTitle">Lugar</ui:define>
			<ui:define name="pageHeader">Header</ui:define>
			<ui:define name="contenido">

		      <!-- Navbar -->
		      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
		        <div class="container-fluid">
		          <div class="navbar-wrapper">
		            <a class="navbar-brand" href="#pablo">Registro Lugar</a>
		          </div>
		          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		          </button>
		          
		        </div>
		      </nav>
		      <!-- End Navbar -->
		       <div class="content">
		        <div class="container-fluid">
		          <div class="row">
		            <div class="col-md-8">
		              <div class="card">
		                <div class="card-header card-header-primary">
		                  <h4 class="card-title">Registro</h4>
		                  <p class="card-category">Complete sus datos</p>
		                </div>
		                <div class="card-body">  
		                   <p:messages id="msgs" closable="true" >
						    	<p:autoUpdate />
						    </p:messages>  
						    <h:panelGroup id="panel1" layout="block">
						    	<h:form id="formLugar">		                   				                   
									Ingreso nombre:
									<h:inputText id="txtNombre" value="#{bean_lugar.newLugar.nombre}" styleClass="form-control" required="true" requiredMessage="Agregar nombre">
									</h:inputText>
									<br>
									</br> 
									Ingreso precio:
									<h:inputText id="txtPrecio" value="#{bean_lugar.newLugar.precio}" styleClass="form-control" required="true" requiredMessage="Agregar precio">
									</h:inputText>
									<br>
									</br>
									<div class="row">
										<div class="col-md-6">
											<h:commandButton value="Guardar" action="#{bean_lugar.guardar()}" styleClass="btn btn-primary btn-block">			
												<f:ajax execute=":formLugar" render=":panel2"/>
											</h:commandButton>
										</div>	
										<div class="col-md-6">
											<h:commandButton type="reset" value="Limpiar" styleClass="btn btn-primary btn-block">
											</h:commandButton>
										</div>																
									</div>
									<br/>	  
								</h:form>
						    </h:panelGroup>        
		                   				
							<h:panelGroup id="panel2" layout="block">
									<h:form id="formTable">
										<p:dataTable id="tblCliente"
											var="usr" 
											value="#{bean_lugar.lugares}" 
											rendered="#{bean_lugar.lugares.size() > 0 eq true}"
											widgetVar="tblPreguntas"	
											editable="true"											
											rows="5"
					                        paginator="true"
					                        paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					                        rowsPerPageTemplate="5,10,15"
					                        emptyMessage="Dato no encontrado"
											style="margin-bottom:0">
											
									        <f:facet name="header">
									            Lugares Registrados
									        </f:facet>
									        <p:ajax event="rowEdit" listener="#{bean_lugar.onRowEdit}" update="msgs"  />
									        <p:ajax event="rowEditCancel" listener="#{bean_lugar.onRowCancel}" update="msgs"  />
								 		
									 	    <p:column style="width:32px">
										           <p:rowEditor  />
										    </p:column>
									        				        										        						        
									        <p:column headerText="Nombre">
									        	<p:cellEditor>
									        		<f:facet name="output"><h:outputText value="#{usr.nombre}" /></f:facet>
									        		<f:facet name="input"><h:inputText value="#{usr.nombre}" style="width:100%;" /></f:facet>
									        	</p:cellEditor>		            
									        </p:column>
									        
									        <p:column headerText="Precio">
									        	<p:cellEditor>
									        		<f:facet name="output"><h:outputText value="#{usr.precio}" /></f:facet>
									        		<f:facet name="input"><h:inputText value="#{usr.precio}" style="width:100%;" /></f:facet>
									        	</p:cellEditor>		            
									        </p:column>
									        
											<p:column style="width:32px">
										       <p:commandLink action="#{bean_lugar.eliminar(usr.codigo)}" title="Eliminar Clientes">
											        <p:confirm header="Confirmación" message="Esta seguro de eliminar?" icon="ui-icon-alert" />
											        <h:graphicImage value="/resources/img/remove.ico" />	
											        <f:ajax execute="formTable" render="tblCliente"/>  
											   </p:commandLink>
									       </p:column>							       
									    </p:dataTable>
									</h:form>								
								</h:panelGroup>  
							
							<!-- <h:form>
							
								<h:commandButton action="{bean_lugar.versionJSF}" value="Ver Version" />
							</h:form>	 -->
							<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
						        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					  		 </p:confirmDialog>													 						 
		                </div>
		              </div>
		            </div>           
		          </div>
		        </div>
		      </div>	
			</ui:define>
	</ui:composition>
</html>