<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" lang="en">

	<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
	<ui:composition template="/WEB-INF/templates/template.xhtml">
			<ui:define name="pageTitle">Pagar Renta</ui:define>
			<ui:define name="pageHeader">Header</ui:define>
			<ui:define name="contenido">
		      <!-- Navbar -->
		      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
		        <div class="container-fluid">
		          <div class="navbar-wrapper">
		            <a class="navbar-brand" href="#pablo">Travel Express</a>
		          </div>
		          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		          </button>
		          
		        </div>
		      </nav>
		      <!-- End Navbar -->
		       <div class="content">
		        <div class="container-fluid">
		          <div class="row">
		            <div class="col-md-8">
		              <div class="card">
		                <div class="card-header card-header-primary">
		                  <h4 class="card-title">Renta Express</h4>
		                  <p class="card-category"></p>
		                </div>
		                <div class="card-body">  
		                <!-- Funcion JS para validar INPUT solo numerico -->
		                <script>
		                	function validaNumericos(event) {
		                	    if(event.charCode >= 48 &amp;&amp; event.charCode &lt;= 57){
		                	      return true;
		                	     }
		                	     return false;        
		                	}
		                	</script>          
		                   <h:form id="formRenta">
		                   		<p:growl id="msgs" showDetail="true"/>	  
								     	
								       <h4 style="font-family: 'Poppins', sans-serif; font-weight: 500 ">Datos del Cliente </h4>							     	
								       <div class="form-row align-items-center">
										    <div class="col-auto">							
										      <label class="sr-only">Nombre</label>
										      <div class="input-group mb-2">
										        <div class="input-group-prepend">
										          <div class="input-group-text">Nombre</div>
										        </div>
										        <h:outputLabel  value="#{bean_login.listUser.get(0).nombres} #{bean_login.listUser.get(0).apellidos}" />
										      </div>
										    </div>
										    <div class="col-auto">
										      <label class="sr-only">Email</label>
										      <div class="input-group mb-2">
										        <div class="input-group-prepend">
										          <div class="input-group-text">Email</div>
										        </div>
										        <h:outputLabel  value="#{bean_login.listUser.get(0).email}" />
										      </div>
										    </div>
									  </div>
								     <hr class="mihr" style="color: #3c415e"/>
								     
								     <h4 style="font-family: 'Poppins', sans-serif; font-weight: 500 ">Datos de Pago </h4>							    
								    <div class="form-group row">
									    <label for="staticEmail" class="col-sm-4 col-form-label">Tipo de Tarjeta</label>
									    <div class="col-sm-8">
									     	<h:selectOneMenu id="tipoSeleccion"
												value="#{bean_pago.selecionTipoPago}"
												styleClass="custom-select " required="true"
												requiredMessage="Seleccione el tipo de selección"
												onchange="pagoOnChange(this)" >
												<f:ajax execute="@this"
													listener="#{bean_pago.seleccionarTipoPagoCombo()}" />
												<f:selectItem itemLabel="  Seleccione "
													noSelectionOption="true" />
												<f:selectItems
													value="#{bean_pago.listadoTipoPagoCombo}" />
											</h:selectOneMenu>
									    </div>
								  	</div>
								  	
								  	 
									     <h:panelGroup id="datosPago" layout="block">							     									  	
										  	  <div class="form-group row">
											    <label for="inputPassword" class="col-sm-4 col-form-label">Titular de la tarjeta</label>
											    <div class="col-sm-8">
											      <h:inputText value="#{bean_pago.newPago.nombreTarjeta}" styleClass="form-control" required="true" requiredMessage="Agregar titular de la tarjeta"/>
											    </div>
											  </div>
											  
											  <div class="form-group row">
											    <label for="inputPassword" class="col-sm-4 col-form-label">Número de tarjeta</label>
											    <div class="col-sm-8">
											      <h:inputText onkeypress="return validaNumericos(event)" value="#{bean_pago.newPago.numeroTarjeta}" styleClass="form-control" required="true" requiredMessage="Numero de tarjeta"/>
											    </div>
											  </div>
											  
											  <div class="form-group row">
											    <label style="color: " for="inputPassword" class="col-sm-4 col-form-label">Fecha de caducidad (MM/AAAA)</label>
											    <div class="col-sm-8">
											    	<div class="form-row">
											    		<div class="col-md-2 ">
											    			<h:inputText onkeypress="return validaNumericos(event)" value="#{bean_pago.newPago.fechaExpiracionTarjetaMes}" styleClass="form-control" required="true" requiredMessage="Agregar mes"/>
											    		</div>
											    		<div class="col-md-2">
											    			<h:inputText onkeypress="return validaNumericos(event)" value="#{bean_pago.newPago.fechaExpiracionTarjetaAño}" styleClass="form-control" required="true" requiredMessage="Agregar año"/>
											    		</div>
											    		<div class="col-md-4"></div>
											    	</div>
											    </div>
											  </div>
											  
											  <div id="visa" style="display: none;">
												  <div class="form-group row">
												    <label for="inputPassword" class="col-sm-4 col-form-label">CVV</label>
												    <div class="col-sm-8">
												    	<div class="form-row">
												    		<div class="col-md-2 ">
												    			<h:inputText onkeypress="return validaNumericos(event)" value="#{bean_pago.newPago.codigoSeguridad}" styleClass="form-control" required="true"  requiredMessage="Agregar codigo de seguridad"/>
												    		</div>
												    		<div class="col-md-2">									    			
												    		</div>
												    		<div class="col-md-4"></div>
												    	</div>
												    </div>
												  </div>
											  </div>
									     </h:panelGroup>
								   								     
								     <div id="masterc" style="display: none ;">
									  	 <div class="form-group row">
										    <label for="inputPassword" class="col-sm-4 col-form-label">CVC2</label>
										    <div class="col-sm-8">
										    	<div class="form-row">
										    		<div class="col-md-2 ">
										    			<h:inputText onkeypress="return validaNumericos(event)" value="#{bean_pago.newPago.codigoSeguridad}" styleClass="form-control"/>
										    		</div>
										    		<div class="col-md-2">									    			
										    		</div>
										    		<div class="col-md-4"></div>
										    	</div>
										      
										    </div>
										  </div>
								     </div>
								     
								     <div id="aexpress" style="display: none;">
									  	 <div class="form-group row">
										    <label for="inputPassword" class="col-sm-4 col-form-label">CID</label>
										    <div class="col-sm-8">
										    	<div class="form-row">
										    		<div class="col-md-2 ">
										    			<h:inputText onkeypress="return validaNumericos(event)" value="#{bean_pago.newPago.codigoSeguridad}" styleClass="form-control" />
										    		</div>
										    		<div class="col-md-2">									    			
										    		</div>
										    		<div class="col-md-4"></div>
										    	</div>
										      
										    </div>
										  </div>
								     </div>
								     
								     <!-- Funcion JS para cambiar el codigo de seguridad segun el tipo de tarjeta -->
								    <script type="text/javascript">
									    function pagoOnChange(sel) {
									        if (sel.value==1){
									             divV = document.getElementById("visa");
									             divV.style.display = "";
	
									             divM = document.getElementById("masterc");
									             divM.style.display = "none";

									             divAE = document.getElementById("aexpress");
									             divAE.style.display = "none";
	
									        }else if(sel.value==2){
	
									             divV = document.getElementById("visa");
									             divV.style.display="none";
	
									             divM = document.getElementById("masterc");
									             divM.style.display = "";

									             divAE = document.getElementById("aexpress");
									             divAE.style.display = "none";

									             
									        }else if (sel.value==4){
									        	 divV = document.getElementById("visa");
									             divV.style.display="none";
	
									             divM = document.getElementById("masterc");
									             divM.style.display = "none";

									             divAE = document.getElementById("aexpress");
									             divAE.style.display = "";

										    }else{
										    	 divV = document.getElementById("visa");
									             divV.style.display="none";
	
									             divM = document.getElementById("masterc");
									             divM.style.display = "none";

									             divAE = document.getElementById("aexpress");
									             divAE.style.display = "none";

											    }
									  }
								    </script>
								    						  						  	
								    <div class="row">
								    	<div class="col-md-3">
								    		<h:commandButton value="Reservar" styleClass="btn btn-primary btn-block" action="#{bean_renta.guardar()}"></h:commandButton>
								    	</div>
								    	<div class="col-md-3"></div>
								    	<div class="col-md-3"></div>
								    	<div class="col-md-3"></div>
								    </div>		
							</h:form>  						                 
		                </div>
		              </div>
		            </div> 	  
		          </div>
		        </div>
		      </div>
			</ui:define>
	</ui:composition>
</html>