<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" lang="en">

	<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
	<ui:composition template="/WEB-INF/templates/template.xhtml">
			<ui:define name="pageTitle">Tipo de Pago</ui:define>
			<ui:define name="pageHeader">Header</ui:define>
			<ui:define name="contenido">

		      <!-- Navbar -->
		      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
		        <div class="container-fluid">
		          <div class="navbar-wrapper">
		            <a class="navbar-brand" href="#pablo">Registro Tipo de Pago</a>
		          </div>
		          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		          </button>
		          
		        </div>
		      </nav>
		      <!-- End Navbar -->
		       <div class="content">
		        <div class="container-fluid">
		          <div class="row">
		            <div class="col-md-8">
		              <div class="card">
		                <div class="card-header card-header-primary">
		                  <h4 class="card-title">Registrarse</h4>
		                  <p class="card-category">Complete sus datos</p>
		                </div>
		                <div class="card-body">               
		                   <h:form id="formAuto" >
		                   		<p:growl id="msgs" showDetail="true"/>	
								Ingreso nombre:
								<h:inputText value="#{bean_tpago.newTPago.descripcion}" styleClass="form-control" required="true" requiredMessage="Agregar descripción">
								</h:inputText>			
								<br/>
								<div class="row">
									<div class="col-md-3">
										<p:commandButton value="Guardar" action="#{bean_tpago.guardar()}" update=":formAuto:msgs" styleClass="btn btn-primary btn-block">
											<f:ajax execute=":formA:formAuto tblCliente" render=":formA:formAuto tblCliente"/>
										</p:commandButton>
									</div>
									<div class="col-md-3"></div>	
									<div class="col-md-3"></div>
									<div class="col-md-3"></div>							
								</div>
								<br/>							
							</h:form>  
								     
						    <h:form id="formA">														
								<p:dataTable id="tblCliente"
									var="usr" 
									value="#{bean_tpago.tpagos}" 
									widgetVar="tblPreguntas"	
									editable="true"											
									rows="5"
			                        paginator="true"
			                        paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			                        rowsPerPageTemplate="5,10,15"
			                        emptyMessage="Dato no encontrado"
									style="margin-bottom:0">
									
							        <f:facet name="header">
							            Autos
							        </f:facet>
							        <p:ajax event="rowEdit" listener="#{bean_tpago.onRowEdit}" update=":formAuto:msgs"  />
							        <p:ajax event="rowEditCancel" listener="#{bean_tpago.onRowCancel}" update=":formAuto:msgs"  />
						 		
							 	    <p:column style="width:32px">
								           <p:rowEditor  />
								    </p:column>
								    
								    <p:column headerText="Codigo">
										<h:inputText value="#{usr.codigo}" readonly="true" style="width:100%;" />         
							        </p:column>
							        				        
							        <p:column headerText="Nombre">
							        	<p:cellEditor>
							        		<f:facet name="output"><h:outputText value="#{usr.descripcion}" /></f:facet>
							        		<f:facet name="input"><h:inputText value="#{usr.descripcion}" style="width:100%;" /></f:facet>
							        	</p:cellEditor>		            
							        </p:column>
							        						        							        		
									<p:column style="width:32px">
								       <p:commandLink actionListener="#{bean_tpago.Eliminar(usr.codigo)}" update="tblCliente" title="Eliminar Clientes">
									        <p:confirm header="Confirmación" message="Esta seguro de eliminar?" icon="ui-icon-alert" />
									        <h:graphicImage value="/resources/img/remove.ico" />	
									        <f:ajax render=":form:tblCliente" execute=":form:tblCliente"/>
									   </p:commandLink>
							       </p:column>
							       
							        <f:facet name="footer">		
							        	<p:commandButton value="Salir" icon="ui-icon-close" immediate="true" onclick="PF('listaUsuariosDialog').hide();"/>				          
							        </f:facet>
							    </p:dataTable>
							    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
							        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
							        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
						  		 </p:confirmDialog>					    
						    </h:form>	    
		                </div>
		              </div>
		            </div> 	  
		          </div>
		        </div>
		      </div>
			</ui:define>
	</ui:composition>
</html>