<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html" lang="en">

	<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
	<ui:composition template="/WEB-INF/templates/template.xhtml">
			<ui:define name="pageTitle">View Autos</ui:define>
			<ui:define name="pageHeader">Header</ui:define>
			<ui:define name="contenido">	
		      <!-- Navbar -->
		      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
		        <div class="container-fluid">
		          <div class="navbar-wrapper">
		            <a class="navbar-brand" href="#pablo">Autos Registrados</a>
		          </div>
		          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		          </button>
		          
		        </div>
		      </nav>
		      <!-- End Navbar -->
		       <div class="content">
		        <div class="container-fluid">
		          <div class="row">
		            <div class="col-md-8">
		              <div class="card">
		                <div class="card-header card-header-primary">
		                  <h4 class="card-title">Autos registrados</h4>
		                  <p class="card-category"></p>
		                </div>
		                <div class="card-body">
		                	<div>
								<p style="color: black;">
									<a href="Auto.xhtml">REGISTRAR AUTO</a>
								</p>
							</div>  
														             
		                   <h:form id="formAuto" >
		                   		<p:growl id="msgs" showDetail="true"/>	
								 <ui:repeat var="au" value="#{bean_auto.auto}">
								 	<div class="row">
								 		<div class="col-md-6">
								 			<img src="#{bean_auto.toBase64ImgAuto(au)}"  class="card-img" alt="IMG-AUTO" width="200" height="230"/>
								 		</div>		
								 			<hr />				 		
								 		<div class="col-md-6">
								 			<p:outputLabel style="font-family: 'Poppins', sans-serif; font-weight: 700; color:#000; font-size: 17px;">#{au.modelo}</p:outputLabel>
								 			<p style="font-family: 'Poppins', sans-serif; font-weight: 400"><span style="font-family: 'Poppins', sans-serif; font-weight: 400; color:red; font-size: 14px;">Capacidad:</span>  #{au.numero_asientos} asientos</p>
								 			<p style="font-family: 'Poppins', sans-serif; font-weight: 400"><span style="font-family: 'Poppins', sans-serif; font-weight: 400; color:red; font-size: 14px;">US $:</span>  #{au.precio}</p>
								 		</div>								 		
								 	</div>	
								 	<br/>							 	
								 	<div class="row">
								 		<div class="col-md-3"></div>
								 		<div class="col-md-3">
								 			<!--  <h:commandButton action="{bean_auto.readActualizarAuto(au.codigo)}" value="Actualizar" styleClass="btn btn-primary btn-block"  /> -->
								 			<h:link
												outcome="actualizarAuto.xhtml?id=#{au.codigo}"
												value="ACTUALIZAR" styleClass="btn btn-primary btn-block">
												<f:ajax render="@all"></f:ajax>
											</h:link>
								 		</div>
								 		<div class="col-md-3">
								 			<h:commandButton action="#{bean_auto.eliminar(au.codigo)}" value="Eliminar" styleClass="btn btn-danger btn-block"  />
								 		</div>
								 		<div class="col-md-3"></div>
								 	</div>
								 	<hr class="mihr" />	
								 </ui:repeat> 					
							</h:form>	                 
		                </div>
		              </div>
		            </div> 	  
		          </div>
		        </div>
		      </div>
			</ui:define>
	</ui:composition>
</html>