<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"> 
<h:head>
	<!--=============================================================================================== -->
	<h:outputStylesheet library="css" name="util.css" value="/resources/"/>
	<h:outputStylesheet library="css" name="main.css" value="/resources/"/> 
	<h:outputStylesheet library="css" name="personalizadoTE.css" value="/resources/"/> 
	<!--===============================================================================================-->
			
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	
	<meta name="viewport" content="width=device-width, initial-scale=1" />	
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"/>
	<title>Inicio de sesión</title>
	
</h:head> 
<body> 
	<div class="limiter">
		<div class="container-login100" style="background-image: url('../resources/img/bg-nissan.jpg');">
			<div class="wrap-login100">
				<h:form class="login100-form validate-form">
					<p:messages id="messages" showDetail="true" closable="true">
				        <p:autoUpdate />
				    </p:messages>
				    <p:tooltip />
					<span class="login100-form-title p-b-26">
						Bienvenido
					</span>
					<span class="login100-form-title p-b-48">
						<i class="fab fa-atlassian"></i>
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<!--    <input class="input100" type="text" name="email" />   -->
						<h:inputText styleClass="input100" value="#{bean_login.user}" id="email"/> 
						<span class="focus-input100" data-placeholder="Usuario"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="fas fa-eye"></i>
						</span>
						<!--  <input class="input100" type="password" name="pass" /> 
						<h:outputLabel value="Contraseña" style="font-family: 'Poppins', sans-serif; font-weight: 400; color: #A4A4A4;" /> -->
						<h:inputSecret styleClass="input100" value="#{bean_login.password}" />
						<span class="focus-input100" data-placeholder="Contraseña"></span>
					</div>
					
					<div class="container-login100-form-btn">
						
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							    
							<p:commandButton action="#{bean_login.loginUser()}" value="Login" styleClass="login100-form-btn"/>
						</div> 
					</div>

					<div class="text-center p-t-115">
						<span class="txt1">
							Todavía, no tienes una cuenta?
						</span>

						<a class="txt2" href="./registroUser.xhtml">
							Regístrate 
						</a>
					</div>
				</h:form>
			</div>
		</div>
	</div>
	
  <script src="../resources/js/demo.js"></script> 
  <script src="../resources/js/jquery.min.js"></script> 
  <script src="../resources/js/popper.min.js"></script> 
  <script src="../resources/js/bootstrap-material-design.min.js"></script> 
  <script src="../resources/js/perfect-scrollbar.jquery.min.js"></script> 
  	<!--  Core JQuery -->
	<script src="../resources/js/main.js"></script>
	<!-- - <script src="../resources/js/jquery-3.2.1.min.js"></script>  -->
	
</body> 
</html>
