<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<!--===============================================================================================-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet" />
	<h:outputStylesheet library="css" name="util.css" value="/resources/"/>
	<h:outputStylesheet library="css" name="main.css" value="/resources/"/> 

	<!--===============================================================================================-->
	
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!--<link rel="stylesheet" type="text/css" href="../resources/fonts/font-awesome.min.css" />
	===============================================================================================
	<link rel="stylesheet" type="text/css" href="../resources/css/material-design-iconic-font.min.css"/> -->
	
	<!-- Custom styles for PrimeFaces 6.1 -->
    <link href="../resources/css/StylePrimefaces.css" rel="stylesheet" type="text/css"/>
	
	<title>Registro de Usuario</title>
</h:head> 
<h:body> 
	<div class="limiter">
		<div class="container-login100" style="background-image: url('../resources/img/bg-nissan.jpg');">
			<div class="wrap-login100">
				<h:form id="formUser" class="login100-form">
					<p:growl id="msgs" showDetail="true" life="2500"/>	
					<span class="login100-form-title p-b-26">
						Regístrate 
					</span>

					<div class="wrap-input100 ">
						<h:inputText styleClass="input100" value="#{bean_cliente.newCliente.usuario}" required="true" requiredMessage="Agregar usuario"/>
						<span class="focus-input100" data-placeholder="Nombre de usuario"></span>
					</div>
					
					<div class="wrap-input100" >
						<h:inputText styleClass="input100"  value="#{bean_cliente.newCliente.cedula}" required="true" requiredMessage="Agregar cedula"/>
						<span class="focus-input100" data-placeholder="Cedula"></span>
					</div>
					
					<div class="wrap-input100">
						<h:inputText styleClass="input100"  value="#{bean_cliente.newCliente.nombres}" id="nombre" required="true" requiredMessage="Agregar nombre"/>
						<span class="focus-input100" data-placeholder="Nombre"></span>
					</div>
					
					<div class="wrap-input100 " >
						<h:inputText styleClass="input100"  value="#{bean_cliente.newCliente.apellidos}" id="apellido" required="true" requiredMessage="Agregar apellido"/>
						<span class="focus-input100" data-placeholder="Apellido"></span>
					</div>

					<div class="wrap-input100">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<h:inputSecret  styleClass="input100" value="#{bean_cliente.newCliente.clave}" id="clave" required="true" requiredMessage="Agregar contraseña">
						</h:inputSecret>
						<span class="focus-input100" data-placeholder="Contraseña"></span>
					</div>
					
					<div class="wrap-input100 v">
						<h:inputText styleClass="input100"  value="#{bean_cliente.newCliente.email}" id="email" required="true" requiredMessage="Agregar Email"/>
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>
					
					<div class="wrap-input100 ">
						<h:inputText styleClass="input100"  value="#{bean_cliente.newCliente.direcion}" id="direccion" required="true" requiredMessage="Agregar dirección"/>
						<span class="focus-input100" data-placeholder="Dirección"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							 <!--  <button class="login100-form-btn" onclick="#{clienteBean.guardarCliente()}">
								Registrarse
							</button> -->
							  <p:commandButton action="#{bean_cliente.guardarCliente()}" value="Registrarse" styleClass="login100-form-btn" update="msgs"/>  
						</div>
					</div>

					<div class="text-center p-t-50">
						<span class="txt1">
							Ya tienes cuenta?
						</span>

						<a class="txt2" href="./login.xhtml">
							Inicia sesión 
						</a>
					</div>
				</h:form>
			</div>
		</div>
	</div>
	<!-- Core JS Files -->
 	<script src="../resources/js/demo.js"></script> 
  	<script src="../resources/js/popper.min.js"></script> 
  	<script src="../resources/js/bootstrap-material-design.min.js"></script> 
	<script src="../resources/js/perfect-scrollbar.jquery.min.js"></script> 
	
  	<!--  Core JQuery Validate Form Registro  -->
	<script src="../resources/js/main.js"></script>
  	<!--  <script src="../resources/js/jquery.min.js"></script>  -->
</h:body> 
</html>
